vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

.glow-border {

  box-shadow: 0 0 8px 2px #00B4D8; /* Adjust color and size to your liking */
  transition: box-shadow 0.5s; /* Smooth transition for the glow effect */
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
